// section styling
.contact {
  padding-top: 40px;
}

.contact-container {
  display: flex;
}

.contact-info {
  margin-right: 90px;
  width: 50%;
  p {
    margin-top: 0;
  }
}

.email a {
  color: inherit;
  position: relative;
    &::after {
      content: '';
      opacity: 1;
      position: absolute;
      top: 25px;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: $primary-color;
      transition: opacity 0.3s, transform 0.3s;
      transform: scale(0);
      transform-origin: center;
    }
    &:hover::after, &:focus::after {
      transform: scale(1);
    }
}

.socials {
  display: flex;
  margin-top: 30px;
    li {
      margin-right: 30px;
      i {
        font-size: 1.5rem;
        color: darken($dark-grey, 35%);
        transition: 0.5s ease-out;
        padding: 15px;
        &:first-of-type {
          padding-left: 0;
        }
        &:hover {
          color: $primary-color;
          transform: translateY(-15px);
        }
      }
  }  
}

form {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    button {
      width: 60%;
      font-size: 0.9rem;
      background-color: $primary-color;
      padding: 12px 30px;
      border-radius: 7px;
      color: #fff;
      border: none;
      transition: 0.3s background-color ease-in;
      &:hover, &:focus {
        background-color: darken($primary-color, 20%);
      }
  }
  input {
    width: calc((100% / 2) - 8px);
  }
  textarea {
    width: 100%;
    resize: none;
  }
  input, textarea {
    font-size: 0.9rem;
    font-family: $body-font;
    padding: 9px 15px;
    border-radius: 6px;
    margin-bottom: 20px;
    border: none;
  }
}

