// dark mode theme colours
.dark-mode {
  background: $primary-dark;
  color: $text-dark-mode;
  .top-nav {
    li {
      a {
        color: $text-dark-mode;
        &:hover {
          color: $purple-dark;
        }
      }
    }
  }
  .header-info p {
    color: $text-dark-mode;
  }
  .logo {
    color: $text-dark-mode;
  }
  #nav-icon span {
      background-color: $text-dark-mode;
  }
  button#nav-icon {
    background-color: transparent;
  }
  h1 {
    color: $text-dark-mode;
    span {
      color: $purple-dark;       
    }
  }
  h2, h3 {
    color: $purple-dark;     
  }
  p {
    color: $text-dark-mode;
    letter-spacing: 0.5px;
  }
  .arrow-nav {
    i {
      color: $purple-dark; 
    }
  }
  .about, .contact {
    background-color: $primary-dark;    
  }
  .skills {
    li {
      color: $text-dark-mode;
      i {
        color: $text-dark-mode;  
        text-shadow: -6px 6px 3px rgba(79, 79, 79, 0.405);
        &:hover {
          color: darken($text-dark-mode, 15%);
        }
      }
    }
  }
  .work, .contact {
    i {
      color: $text-dark-mode;
    }
  }  
  .work-links li a:hover {
    background-color: $primary-dark;
  }
  button {
    background-color: #b98cd0;
  }
  footer {
    color: darken($text-dark-mode, 10%);
  }
}

// toggle style
.dark-mode-toggle {
  i {
    font-size: 1rem;
    position: absolute;
    z-index: 1;
    color: #fff;
  }
  .fa-sun {
    color: darken($purple-dark, 10%);
    top: calc(8px + 3.1vh);
    right: 115px;
  }
  .fa-moon {
    font-size: 1rem;
    top: calc(8px + 3.1vh);
    right: 160px;
  }
}

.toggleLabel::before {
  content: '';
  position: absolute;
  width: 85px;
  height: 38px;
  border-radius: 20px;
  background: #000;
  top: 3vh;
  right: 105px;
  transition: 0.1s background ease-in;
}

.toggleLabel::after {
  content: '';
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #fff;
  top: calc(5px + 3vh);
  right: 110px;
  transition: 0.1s right ease-in;
}

input[type='checkbox'] {
  opacity: 0;
}

input[type='checkbox']:checked + .toggleLabel::before {
  background: lighten($dark-grey, 40%);
}

input[type='checkbox']:checked + .toggleLabel::after {
  box-shadow: 5px rgb(0, 0, 0);
  right: 155px;
}
