// header partial
header {
  height: 100vh;   
}

// styling for header info
.header-info {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1, p {
    margin: 10px 0;
    line-height: 1.45;
  }
  p {
    color: black;
    font-size: 0.95rem;
  }
  span {
    display: inline-block;
    width: 100%;
    color: $primary-color;
  }
}

// arrow icon
.arrow-nav {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 45%;
  i {
    color: $primary-color;
    font-size: 1.7rem;
  }
}
