// header partial
header {
  height: 100vh;
  div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.header-info-wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
}

.header-info {
  align-self: center;
  border: 2px solid #000;
  padding: 60px;
  width: 60%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
    h1, p {
      margin: 8px 0;
    }
    p {
      color: black;
      font-size: 0.95rem;
    }
    span {
      display: inline-block;
      width: 100%;
    }
}

.scrolldown {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animate 0.9s infinite;
    i {
      color: #000;
      font-size: 1.5rem;
    }
}

@keyframes animate {
  0% {
    margin-top: 0%;
  }
  50% {
    margin-top: 2%;
  }
  100% {
    margin-top: 0%;
  }
}

footer {
  padding: 2px 0;
  text-align: center;
    p {
      width: 100%;
      font-size: 0.8rem;
    }
}