// browser nav
nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    font-family: $heading-font;
    color: #2f2f2f;
    font-size: 1.1rem;
    font-weight: 600;
  }
  button {
    padding: 15px;
    background-color: transparent;
    border: none;
  }
}

#nav-icon {
  display: none;
}

.top-nav {
  display: flex;
  opacity: 1;
  li {
    font-size: 0.9rem;
    margin-left: 50px;
    a {
      color: #2f2f2f;
      position: relative;
      &::after {
        content: '';
        opacity: 1;
        position: absolute;
        top: 25px;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: $primary-color;
        transition: opacity 0.3s, transform 0.3s;
        transform: scale(0);
        transform-origin: center;
      }
      &:hover::after, &:focus::after {
        transform: scale(1);
      }
      &:hover, &:focus {
        color: darken($primary-color, 20%);
      }
    }
  }
}

@media (max-width: 768px) {
  nav {
    justify-content: flex-end;
  }

  .logo {
    display: none;
  }

  .top-nav {
    position: absolute;
    top: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    position: absolute;
    opacity: 0;
    left: 0;
    background-color: darken($primary-color, 30%);
    height: 100vh;
    width: 100%;
    li {
      margin: 10px 0;
      font-size: 1.2rem;
      a {
        color: white;
        text-align: center;
        margin: 0;
      }
    }
  }

  .top-nav.expand {
    z-index: 10;
  }

  #nav-icon {
    z-index: 20;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 5px;
    right: 10px;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 90%;
      background-color: black;
      border-radius: 10px;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      &:nth-child(1) {
        top: 5px;
        transform-origin: left center;
      }
      &:nth-child(2) {
        top: 14px;
        transform-origin: left center;
      }
      &:nth-child(3) {
        top: 23px;
        transform-origin: left center;
      }
    }
  }

  #nav-icon.open {
    span {
      background-color: #fff;
      &:nth-child(1) {
        transform: rotate(45deg);
        top: 3.5px;
      }
      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 23px;
      }
    }
  }
}