// portfolio colors
$primary-color: #b181b1;
$header-text: #1d2032;
$light-grey: #ebebee;
$dark-grey: #797979;

$heading-font: 'Sen', sans-serif;
$body-font: 'Open Sans', sans-serif;

$scale: scale(1.35);