// portfolio colors
$primary-color: #b181b1;
$header-text: #1d2032;
$light-grey: #ebebee;
$dark-grey: #797979;

$primary-dark: #190d25;
$purple-dark: #e3bbf7;
$text-dark-mode: #f0eded;

$heading-font: 'Rubik', sans-serif;
$body-font: 'Mulish', sans-serif;

$scale: scale(1.35);