// portfolio colors
$primary-color: #b181b1;
$header-text: #1d2032;
$light-grey: #ebebee;
$dark-grey: #797979;
$heading-font: 'Work Sans', sans-serif;
$body-font: 'Mulish', sans-serif;

@import "partials/setup";
@import "partials/navigation";
@import "partials/header-footer";
@import "partials/about";
@import "partials/skills";
@import "partials/work";
@import "partials/contact";


html {
  font-size: 125%; /* makes font 20px */
  scroll-behavior: smooth;
}

body {
  font-family: $body-font;
  line-height: 1.8;
  font-size: 0.85rem;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

// .sub-text {
//   font-family: 'Anaheim', sans-serif;;
// }

h1,
h2, 
h3, 
h4, 
h5 {
  font-family: $heading-font;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 0px;
}

h1 {
  font-size: 2.2rem;
  line-height: 1.5;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h2 + p {
  margin-top: 0;
}

p {
  color: #242424;
  font-size: 0.8rem;
  line-height: 1.9;
}

section {
  padding: 80px 0;
}

// .wrapper {
//   border: 1px solid blue;
// }

/* media queries */
@import "partials/media-queries";