html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

nav {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .logo {
  font-family: "Work Sans", sans-serif;
  color: #2f2f2f;
  font-size: 1.1rem;
  font-weight: 600;
}
nav button {
  padding: 15px;
  background-color: transparent;
  border: none;
}

#nav-icon {
  display: none;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}
.top-nav li {
  font-size: 0.9rem;
  margin-left: 50px;
}
.top-nav li a {
  color: #2f2f2f;
  position: relative;
}
.top-nav li a::after {
  content: "";
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #af83b6;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
}
.top-nav li a:hover::after, .top-nav li a:focus::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.top-nav li a:hover, .top-nav li a:focus {
  color: #7d4e85;
}

@media (max-width: 768px) {
  nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .logo {
    display: none;
  }

  .top-nav {
    top: 0;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    opacity: 0;
    left: 0;
    background-color: #5f3b65;
    height: 100vh;
    width: 100%;
  }
  .top-nav li {
    margin: 20px 0;
    font-size: 1.2rem;
  }
  .top-nav li a {
    color: white;
    text-align: center;
    margin: 0;
  }

  .top-nav.expand {
    z-index: 10;
  }

  #nav-icon {
    z-index: 20;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 5px;
    right: 10px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  #nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 90%;
    background-color: black;
    border-radius: 10px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  #nav-icon span:nth-child(1) {
    top: 5px;
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  #nav-icon span:nth-child(2) {
    top: 14px;
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  #nav-icon span:nth-child(3) {
    top: 23px;
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }

  #nav-icon.open span {
    background-color: #fff;
  }
  #nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 3.5px;
  }
  #nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 23px;
  }
}
header {
  height: 100vh;
}
header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-info-wrapper {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-info {
  -ms-flex-item-align: center;
      align-self: center;
  background-color: white;
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-info h1 {
  padding-bottom: 15px;
}
.header-info h1, .header-info p {
  margin: 0px;
}
.header-info span {
  color: #af83b6;
  display: inline-block;
  width: 100%;
}

.header-img {
  width: 20%;
}

.scrolldown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: animate 0.9s infinite;
          animation: animate 0.9s infinite;
}
.scrolldown i {
  color: #000;
  font-size: 1.5rem;
}

@-webkit-keyframes animate {
  0% {
    margin-top: 0%;
  }
  50% {
    margin-top: 2%;
  }
  100% {
    margin-top: 0%;
  }
}

@keyframes animate {
  0% {
    margin-top: 0%;
  }
  50% {
    margin-top: 2%;
  }
  100% {
    margin-top: 0%;
  }
}
footer {
  padding: 2px 0;
  text-align: center;
}
footer p {
  width: 100%;
  font-size: 0.8rem;
}

.about, .contact {
  position: relative;
  background-color: #f2f2f2;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-container .about-text {
  width: 65%;
}
.about-container .about-text h2 {
  margin: 0px;
}
.about-container .about-image {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-container .about-image img {
  width: 100%;
  border-radius: 50%;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
}

.skills {
  padding: 40px 0px;
}
.skills h2 {
  margin-bottom: 20px;
}

.skills-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: 10px auto;
  row-gap: 50px;
}
.skills-icons span {
  display: block;
}
.skills-icons div {
  height: 55px;
}
.skills-icons li {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
.skills-icons li div {
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}
.skills-icons li div:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.skills-icons li i {
  font-size: 2.4rem;
  color: #434343;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}
.skills-icons li i:hover {
  color: #af83b6;
}
.skills-icons li p {
  margin-top: 15px;
}

.work {
  padding: 10px 0;
}
.work h2 {
  margin-bottom: 20px;
}

.project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.project-item .sub-text {
  margin: 0px;
}
.project-item .project-image {
  width: 50%;
}
.project-item .project-image img {
  width: 100%;
  height: 280px;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  -webkit-box-shadow: 0px 13px 27px -5px rgba(50, 50, 93, 0.25), 0px 8px 16px -8px rgba(0, 0, 0, 0.3), 0px -6px 16px -6px rgba(0, 0, 0, 0.025);
          box-shadow: 0px 13px 27px -5px rgba(50, 50, 93, 0.25), 0px 8px 16px -8px rgba(0, 0, 0, 0.3), 0px -6px 16px -6px rgba(0, 0, 0, 0.025);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.project-card {
  width: 50%;
  margin-left: 60px;
}
.project-card h3 {
  margin: 0px;
  display: inline-block;
}
.project-card p {
  margin-top: 5px;
}
.project-card ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.project-card ul li:first-of-type {
  padding-left: 4px;
}
.project-card ul li {
  font-size: 0.9rem;
  padding-right: 4px;
  border-radius: 10px;
  margin-right: 10px;
}
.project-card ul i {
  color: #464646;
  font-size: 1.2rem;
  padding: 0;
}
.project-card ul i:hover {
  color: #797979;
}
.project-card .work-links {
  margin: 0;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.project-card .work-links li {
  margin: 20px 12px 20px 0;
}
.project-card .work-links li a {
  text-transform: uppercase;
  font-size: 0.85rem;
  padding: 8px 20px;
  color: black;
  border: 1px solid grey;
  -webkit-transition: 0.2s background-color ease-in;
  transition: 0.2s background-color ease-in;
}
.project-card .work-links li a:hover, .project-card .work-links li a:focus {
  color: white;
  background-color: #545454;
}

.project-item-alternate {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.project-item-alternate .project-card {
  margin-left: 0px;
  margin-right: 60px;
}

.contact {
  padding-top: 20px;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-info {
  margin-right: 90px;
  width: 50%;
}

.email a {
  color: inherit;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
.socials li {
  margin-right: 30px;
}
.socials li i {
  font-size: 1.4rem;
  color: #202020;
}
.socials li i:first-of-type {
  padding-left: 0;
}

form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form button {
  width: 60%;
  font-size: 0.9rem;
  background-color: #000;
  padding: 12px 30px;
  color: #fff;
  border: 1px solid black;
  -webkit-transition: 0.2s background-color ease-in;
  transition: 0.2s background-color ease-in;
}
form button:hover, form button:focus {
  background-color: transparent;
  color: #000;
}
form input {
  width: calc(50% - 8px);
}
form textarea {
  width: 100%;
  resize: none;
}
form input, form textarea {
  font-size: 0.9rem;
  font-family: "Mulish", sans-serif;
  padding: 9px 15px;
  margin-bottom: 20px;
  border: none;
  border: 1px solid black;
}

html {
  font-size: 125%;
  /* makes font 20px */
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  line-height: 1.8;
  font-size: 0.85rem;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0px;
}

h1 {
  font-size: 1.8rem;
  line-height: 1.5;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h2 + p {
  margin: 10px 0;
}

p {
  color: #242424;
  font-size: 0.8rem;
  line-height: 1.9;
}

section {
  padding: 80px 0;
}

/* media queries */
/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .wrapper {
    width: 85%;
  }

  .project-card p {
    font-size: 0.9rem;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-container .about-text {
    width: 100%;
  }
  .about-container .about-image {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  h2, .tools-used {
    text-align: center;
  }

  .skills-icons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .skills-icons div {
    height: 70px;
  }
  .skills-icons li {
    width: calc(33.3333333333% - 20px);
  }
  .skills-icons li i {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .project-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-item div, .project-item .project-image {
    width: 100%;
  }

  .project-card {
    margin-left: 0px;
    text-align: center;
  }
  .project-card h3 {
    margin: 20px 0px;
  }
  .project-card ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project-card p {
    margin-top: 0;
  }

  .project-item-alternate .project-card {
    margin-left: 0px;
  }

  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact-info, form {
    width: 100%;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .header-info h1 {
    margin-top: 20px;
    font-size: 1.5rem;
  }
  .header-info p {
    font-size: 0.9rem;
    line-height: 1.5;
  }

  .profile-image img {
    width: 200px;
    height: 200px;
  }

  .skills-icons li {
    width: calc(50% - 20px);
  }
  .skills-icons li p {
    font-size: 0.8rem;
  }

  .project-card h3 {
    font-size: 1.3rem;
    margin: 10px;
  }
  .project-card .description {
    font-size: 0.9rem;
  }

  .project-item {
    padding: 15px 0;
  }
  .project-item div:first-of-type {
    margin-top: 20px;
  }

  form button {
    width: 70%;
  }
}